<%= form_for @user do |f| %>
  <% if @user.new_record? %>
    <%= f.label :email %>
    <%= f.email_field :email %><br>
    <%= f.label :password %>
    <%= f.password_field :password %><br>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %><br>
  <% end %>

  <h2>Permissions</h2>

  <% Permission.policies.each_with_index do |policy, index| %>
    <%= label_tag policy %>
    <%= check_box_tag "user[policies][]", policy, @user.policy_exist?(policy) %><br>
  <% end %>
  <% if @user.new_record? %>
    <%= f.button '新增一般帳號', value: :top_user %>
    <%= f.button '新增子帳號', value: :child %>
  <% else %>
    <%= f.submit %>
  <% end %>
<% end %>