<h1>使用者清單</h1>

<%= link_to '新增使用者', new_user_path %>

<ul>
<% @users.each do |user| %>
  <li><%= user.email %> | <%= link_to '編輯', edit_user_path(user) %> | <%= link_to '刪除', user, method: :delete %></li>
<% end %>
</ul>