<!DOCTYPE html>
<html>
<head>
  <title>PermissionDemo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <ul>
      <li><%= link_to '首頁', root_path %></li>
      <li><%= link_to '使用者', users_path %></li>
      <li><%= link_to '文章', posts_path %></li>
      <% if user_signed_in? %>
        <li>歡迎回來 <%= current_user.email %> | <%= link_to '登出', destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to '註冊', new_user_registration_path %></li>
        <li><%= link_to '登入', new_user_session_path %></li>
      <% end %>
    </ul>
  </nav>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= yield %>
</body>
</html>
